html, body{
	width: 100%;
	height: 100%;
}
body{
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.main-container{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #222;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.login-container{
	width: 100%;
	max-width: 500px;
	background-color: #333;
	border-radius: 2px;
}
.login-contain{
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
}
.login-contain input{
	width: calc(100% - 10px);
	padding: 5px;
	margin-bottom: 10px;
	border-radius: 2px;
	border:#999;
	color: #333;
}
.login-contain p{
	margin-bottom: 3px;
	color: #999;
}
.entrar{
	width: calc(100% - 10px);
	padding: 5px;
	text-align: center;
	border-radius: 2px;
	background-color: #222;
	margin-bottom: 10px;
	color: #fff;
	cursor: pointer;
}
.entrar:hover{
	background-color: #292929;
}
.alert{
	display: block;
	font-size: 0.8em;
	color: white;
	margin-bottom: 10px;
}